# Visual Studio instellingen
.vscode/

# Build output
bin/
obj/
MediMapAPI/.vs/
# User-specifieke bestanden
*.user
*.suo
*.userosscache
*.sln.docstates

# Logbestanden en tijdelijk bestanden
logs/
*.log
!ApplicationInsights.config

# NuGet packages
*.nupkg
packages/
project.lock.json

# ASP.NET tijdelijke bestanden
wwwroot/node_modules/
wwwroot/lib/

# Configuratie- en geheime bestanden
appsettings.Development.json
appsettings.Local.json
secrets.json
.env
.env.*

# Database bestanden
*.mdf
*.ldf

# Resharper en Rider bestanden
*.DotSettings.user
.idea/

# JetBrains Rider en Resharper folders
.svn/
_ReSharper.Caches/

# SonarQube bestanden
.sonarqube/

# Azure deployment bestanden
.publish/
Azure/

# Docker bestanden
**/docker-compose.override.yml