# Visual Studio instellingen
.vscode/

# Build output
bin/
obj/

# User-specifieke bestanden
*.user
*.suo
*.userosscache
*.sln.docstates

# Logbestanden en tijdelijk bestanden
logs/
*.log
!ApplicationInsights.config

# NuGet packages
*.nupkg
packages/
project.lock.json

# ASP.NET tijdelijke bestanden
wwwroot/node_modules/
wwwroot/lib/

# Configuratie- en geheime bestanden
appsettings.Development.json
appsettings.Local.json
secrets.json
.env
.env.*

# Database bestanden
*.mdf
*.ldf

# Resharper en Rider bestanden
*.DotSettings.user
.idea/

# JetBrains Rider en Resharper folders
.svn/
_ReSharper.Caches/

# SonarQube bestanden
.sonarqube/

# Azure deployment bestanden
.publish/
Azure/

# Docker bestanden
**/docker-compose.override.yml
MediMapAPI/.vs/MediMapAPI/FileContentIndex/98c7c5c2-aacb-4ecf-8280-298bfdcce7c9.vsidx
MediMapAPI/.vs/MediMapAPI/FileContentIndex/04dd83f4-c473-4b03-a30f-ac60d8d8d654.vsidx
MediMapAPI/.vs/MediMapAPI/FileContentIndex/c54da381-5ecb-4de9-be8f-e5435616e316.vsidx
MediMapAPI/.vs/MediMapAPI/FileContentIndex/fe4d17bd-2db8-4e69-a14e-1c940596579e.vsidx
MediMapAPI/.vs/MediMapAPI/FileContentIndex/d7d268ce-926a-44ad-be09-26d67d324d10.vsidx
MediMapAPI/.vs/MediMapAPI/FileContentIndex/ff24f3cd-ae79-4ec8-abd3-389468e34c64.vsidx
